@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
-moz-text-size-adjust:100%;
-ms-text-size-adjust:100%;
-webkit-text-size-adjust:100%;
text-size-adjust:100%;
    background-color: black;
  }
  

*, *:before, *:after {
  box-sizing: inherit;
}

.ball { 
    width: 9%;
    animation: ball .2s ease-in-out infinite alternate;
    position: absolute;
    left: 45.5%;
    display: block;
    bottom: 50%;
}

body { 
    margin: 0;
}

.RB { 
    margin-bottom: .5rem;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    padding-top: 20%;
}


.click {
    opacity: 0.4;
    transition: alpha(opacity=40) 4s ease-in-out;
}

.click:hover {
    opacity: 1.0;
    transition: alpha(opacity=100) 4s ease-in-out;
}



h1 { 
    color: white;
    position: relative;
    top:1.5rem; 
    width: 100%;
    text-align: center;
     -webkit-animation-duration: 1s; 
    animation-duration: 3s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in-out; 
    animation-timing-function: ease-in-out; 
          
}

.racket { 
    bottom: .1%;
    width: 50%;
    left: 25%;
    position: absolute;
     animation: racket .2s ease-in-out infinite alternate;
}

.toggle {
    width:20%;
    display: block;
    margin-left: 120%; 
    opacity: 0.5;
    transition: alpha(opacity=40) 4s ease-in-out;
}


.toggle:hover {
    width:30%;
    display: block;
    margin-left: 110%;
     opacity: 1.0;
    transition: alpha(opacity=100) 4s ease-in-out;
    
}


.billboard { 
    background-color:#69C187;
    margin: 0;
   
    
   
}

.world { 
    color: white;
    text-align:center;
    font-size:3.5rem;
    top: -2rem;
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    
    
}

.click { 
    width: 30%;
    position: relative;
    display: block; 
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 1rem;
    
}

.fadeIn { 
    -webkit-animation-name: fadeIn; 
    animation-name: fadeIn; 
}



@keyframes ball {

    0% { 
        transform: translateY(0px);
    }
  
    100% {
        transform: translateY(50px);
    }

}


@keyframes racket {

    0% { 
        transform: translateY(0px);
    }
  
    100% {
        transform: translateY(6px);
    }

}

@keyframes opacity {

    0% { 
        transition:opacity(0%);
    }
    
    100% {
        transition:opacity(100%);
    }
}

@-webkit-keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
@keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
.fadeIn { 
    -webkit-animation-name: fadeIn; 
    animation-name: fadeIn; 
}


@media only screen and (min-width: 22em) { 

    .click { 
    width: 15%;
    position: relative;
    display: block; 
    margin-right: auto;
    margin-left: auto;
    
}
    
    .ball { 
    width: 9%;
    animation: ball .2s ease-in-out infinite alternate;
    position: absolute;
    left: 45.5%;
    display: block;
    bottom: 70%;
}
    
    .racket { 
    bottom: .1%;
    width: 50%;
    left: 25%;
    position: absolute;
     animation: racket .2s ease-in-out infinite alternate;
}


    
    .toggle {
    width:  10%;
    display: block;
    margin-left: 135%; 
    opacity: 0.5;
    transition:  alpha(opacity=40) 4s ease-in-out;
}

    .toggle:hover {
    width:13%;
    display: block;
    margin-left: 130%;
     opacity: 1.0;
    transition:  alpha(opacity=100) 4s ease-in-out;
    
}
    

    
}

@media only screen and (min-width: 50em) { 

    .click { 
    width: 20%;
    position: relative;
    display: block; 
    margin-right: auto;
    margin-left: auto;
    
}
      .ball { 
    width: 9%;
    animation: ball .2s ease-in-out infinite alternate;
    position: absolute;
    left: 45.5%;
    display: block;
    bottom: 40%;
}
    
    .racket { 
    bottom: .1%;
    width: 50%;
    left: 25%;
    position: absolute;
     animation: racket .2s ease-in-out infinite alternate;
}

    
    .toggle {
    width:  15%;
    display: block;
    margin-left: 130%; 
    opacity: 0.5;
    transition:  alpha(opacity=40) 4s ease-in-out;
}

    .toggle:hover {
    width:17%;
    display: block;
    margin-left: 128%;
     opacity: 1.0;
    transition:  alpha(opacity=100) 4s ease-in-out;
    
}

}

@media only screen and (min-width: 60em) { 
    
.click { 
    width: 10%;
    position: relative;
    display: block; 
    margin-right: auto;
    margin-left: auto;
}
    


    
    .toggle {
    width:  5%;
    display: block;
    margin-left: 135%; 
    opacity: 0.5;
    transition:  alpha(opacity=40) 4s ease-in-out;
        margin-top:0;
}

    .toggle:hover {
    width:10%;
    display: block;
    margin-left: 131%;
     opacity: 1.0;
    transition:  alpha(opacity=100) 4s ease-in-out;
    
}


}


