@-moz-viewport { width: device-width; scale: 1; }

@-ms-viewport { width: device-width; scale: 1; }

@-o-viewport { width: device-width; scale: 1; }

@-webkit-viewport { width: device-width; scale: 1; }

@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    text-size-adjust:100%;
    overflow-x:hidden;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.info2{
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: #c1eae4;
    color: #08566d;
}

.btn { 
    background:url("../images/toggle.svg") no-repeat;
    height: 4em;
    width: 4em;
    -webkit-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    -wepkit-transition: all 500ms;
    transition: all 500ms;
    border-radius: 5px;
    border: none;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.btn:hover { 
    height: 7em;
    width: 7em;
}

.btn-opc6:hover {
    background-color: lightgreen;
}

.btn-opc5:hover {
    background-color: lightgreen;
}

.btn-opc4:hover {
    background-color: lightgreen;    
}

.btn-opc3:hover {
    background-color: lightgreen;   
}

.btn-opc2:hover {
    background-color: lightgreen;    
}

.btn-opc:hover {
    background-color: lightgreen;   
}

.oc4 {
    padding-bottom: 1rem;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    background-color: #717D8C;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: darkgoldenrod;
    text-align: center;
    display: none;
}

.oc3 {
    padding-bottom: 1rem;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    background-color: #717D8C;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: darkgoldenrod;
    text-align: center;
    display: none;
}

.oc6 {
    padding-bottom: 1rem;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    background-color: #717D8C;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: darkgoldenrod;
    text-align: center;
    display: none;
}

.oc5 {
    padding-bottom: 1rem;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    background-color: #717D8C;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: darkgoldenrod;
    text-align: center;
    display: none;
}

.oc2 {
    padding-bottom: 1rem;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    background-color: #717D8C;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: darkgoldenrod;
    text-align: center;
    display: none;
}

.oc {
    padding-bottom: 1rem;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    background-color: #717D8C;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: darkgoldenrod;
    text-align: center;
    display: none;
}

.btn-opc5 { 
    margin-bottom: 1rem;
    background-color:#80CEB9;
    border-radius:28px;
    border:1px solid #80CEB9;
    display:inline-block;
    color:white;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}

.cap { 
    padding-bottom:  2rem;
}

.btn-opc6 { 
    margin-bottom: 1rem;
    background-color:#80CEB9;
    border-radius:28px;
    border:1px solid #80CEB9;
    display:inline-block;
    color:white;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}

.btn-opc4 { 
    margin-bottom: 1rem;
    background-color:#80CEB9;
    border-radius:28px;
    border:1px solid #80CEB9;
    display:inline-block;
    color:white;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}

.footer{ 
    padding-top: 3rem;
    background-color: #717D8C;
    text-align: center;
    margin: 0;
}

.btn-opc3 { 
    margin-bottom: 1rem;
    background-color:#80CEB9;
    border-radius:28px;
    border:1px solid #80CEB9;
    display:inline-block;
    color:white;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}

.btn-opc2 { 
    margin-bottom: 1rem;
    background-color:#80CEB9;
    border-radius:28px;
    border:1px solid #80CEB9;
    display:inline-block;
    color:white;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}

.btn-opc { 
    margin-bottom: 1rem;
    background-color:#80CEB9;
    border-radius:28px;
    border:1px solid #80CEB9;
    display:inline-block;
    color:white;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}

.btn:hover { 
    height: 5em;
    width: 5em;
    margin-left: .5rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.top { 
    background-color: #717D8C;
}

.dance { 

    font-size: 2rem;
    font-family: sans-serif;
    letter-spacing: 1px;
    background-color: #405D79;
    padding: .5rem;
    margin: 0;
}

.panel { 
    display: none;
    width: 100%;
}

ul { 
    margin: 0;
    padding: 0;
}

li a { 
    text-decoration: none;
    color: #08566d;
}

li { 
    background-color:#DDDDDD;
    list-style-type: none;
    text-align: center;
    color: #08566d;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
}

p {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
    padding-top: 1rem;
    text-align: center;
    color: #1c1c1c;
    font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
    margin-bottom: 0;
    color: white;
    padding-bottom: 3rem;
}


li:hover { 
    background-color: lightgreen;
}

.js-active .bottom{ 
    -webkit-animation: rotate-box 500ms ease-in-out infinite alternate;
    animation: rotate-box 500ms ease-in-out infinite alternate;
}

.js-click { 
    -webkit-animation: rotate-box 500ms ease-in-out infinite alternate;
    animation: rotate-box 500ms ease-in-out infinite alternate;
}


.top2 {
    -webkit-animation: rotate-box 1s ease-in-out infinite alternate;
    animation: rotate-box 1s ease-in-out infinite alternate;
    width: 5%;
    margin-left: auto;
    margin-right: auto;
}

.Body  {
    -webkit-animation: up-box 1s ease-in-out infinite alternate;
    animation: up-box 1s ease-in-out infinite alternate;
    width: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

body { 
    margin: 0;
}

.RB { 
    margin-bottom: .5rem;
    margin-top: 2rem;
    padding-left: 50rem;
    margin-right: 1rem;
    position: relative;
    padding-top: 20%;
}

.imghome { 
    margin-top:3rem;
    margin-bottom:1rem;
    width: 20%
}

.imgracket { 
    margin-top:3rem;
    margin-bottom:1rem;
    width: 20%
}

.imgball { 
    margin-top:3rem;
    margin-bottom:1rem;
    width: 20%
}

.imgbracket { 
    margin-top:3rem;
    margin-bottom:1rem;
    width: 40%
}

.imgbag { 
    margin-top:3rem;
    margin-bottom:1rem;
    width: 20%
}

.imgshirt { 
    margin-top:3rem;
    margin-bottom:1rem;
    width: 30%
}

.bagbg { 
    background-color: #1A421E;
    text-align: center;
    margin: 0;
}

.shirtbg { 
    background-color: #E6B800;
    text-align: center;
    margin: 0;
}

.ballbg { 
    background-color: #CE7317;
    text-align: center;
}

.bracketbg { 
    background-color: #6AA0EF;
    text-align: center;
}

.racketbg { 
    background-color: #B71824;
    text-align: center;
}

.homebg { 
    background-color: #CC6846;
    text-align: center;
}

.click {
    opacity: 0.4;
    -webkit-transition: all 1ms ease-in-out;
    transition: all 1ms ease-in-out;
}

.click:hover {
    opacity: 1.0;
    -webkit-transition: all  ease-in;
    transition: all  ease-in;
}

.click2 {
    width: 8rem;
    opacity: 0.4;
    -webkit-transition: all 1ms ease-in-out;
    transition: all 1ms ease-in-out;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.click2:hover {
    opacity: 1.0;
    -webkit-transition: all  ease-in;
    transition: all  ease-in;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.player { 
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}

h1 { 
    color:white;
    position: relative;
    top:1.5rem; 
    width: 100%;
    text-align: center;
    -webkit-animation-duration: 3s; 
    animation-duration: 3s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in-out; 
    animation-timing-function: ease-in-out; 
}

h2 { 
    color: white;
    font-size: 3rem;
    margin-bottom: -1rem;
    line-height: 4rem;
    padding-top: 1rem;
    font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

.space { 
    background-color:#717D8C;
    height: 3rem;
}

.racket { 
    bottom: .1%;
    width: 50%;
    left:20rem;
    position: absolute;
    -webkit-animation: racket .2s ease-in-out infinite alternate;
    animation: racket .2s ease-in-out infinite alternate;
}

.ball { 
    width: 9%;
    -webkit-animation: ball .2s ease-in-out infinite alternate;
    animation: ball .2s ease-in-out infinite alternate;
    position: absolute;
    left: 30rem;
    display: block;
    bottom: 90%;
}

.billboard { 
    background-color:#717D8C;
    margin: 0;
    padding: 1em 0;
}

.world { 
    color: white;
    text-align:center;
    font-size:3.5rem;
    top: -2rem;
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
}

.bottom2 { 
    margin-top:1rem;
}

.click { 
    width: 30%;
    position: relative;
    display: block; 
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left:1rem;
}

.fadeIn { 
    -webkit-animation-name: fadeIn; 
    animation-name: fadeIn; 
}

@-webkit-keyframes up-box {
    0% { 
        transform: translateY(0);
    }
  
    100% {
        transform: translateY(1rem);
    }
}

@keyframes up-box {
    0% { 
        transform: translateY(0);
    }
  
    100% {
        transform: translateY(1rem);
    }
}

@-webkit-keyframes right-box {
     0% { 
        transform: translateY(10px);
    }
  
    100% {
        transform: translateY(0);
    }
}

@keyframes right-box {
     0% { 
        transform: translateY(10px);
    }
  
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes rotate-box {
     0% {
        transform: rotate(0);
    }
  
    100% {
       transform: rotate(4deg);;
    }
}

@keyframes rotate-box {
     0% {
        transform: rotate(0);
    }
  
    100% {
       transform: rotate(4deg);;
    }
}

@-webkit-keyframes ball {

    0% { 
        -webkit-transform: translateY(0px);  
    }
  
    100% {
        -webkit-transform: translateY(50px);
    }
}

@keyframes ball {

    0% { 
        transform: translateY(0px);
    }
  
    100% {
        transform: translateY(50px);
    }
}

@-webkit-keyframes racket {

    0% { 
        -webkit-transform: translateY(0px);
    }
  
    100% {
        -webkit-transform: translateY(6px);
    }
}

@keyframes racket {

    0% { 
        transform: translateY(0px);
    }
  
    100% {
        transform: translateY(6px);
    }
}

@-webkit-keyframes fadeIn { 
    
    0% {
        opacity: 0;
    } 
    
    100% {
        opacity: 1;
    } 
} 

@keyframes fadeIn { 
    
    0% {
        opacity: 0;
    } 
    
    100% {
        opacity: 1;
    } 
} 

@media only screen and (min-width: 22em) { 

    .click { 
        width: 15%;
    }
    
    .ball { 
        width: 9%;
        bottom: 70%;
    }
    
    .racket { 
        bottom: .1%;
        width: 50%;
    }

    h1 { 
        font-size: 3rem;
    }

}

@media only screen and (min-width: 50em) { 

    .click { 
        width: 20%;
    }
    
    .ball { 
        width: 9%;
        bottom: 40%;
    }
    
    .racket { 
        bottom: .1%;
        width: 50%;
    }

    h1 { 
        font-size: 5rem;
    }
}

@media only screen and (min-width: 60em) { 
    
    .click { 
        width: 10%;
    }

    h1 { 
        font-size: 7rem;
    }
}